<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test1</title>
  </head>
  <body>
    <button class="minus">-</button>
    <button onclick="location.href='/test2'">page</button>
    <button class="plus">+</button>
  </body>
  <script src="/js/main.js"></script>
</html>
